<section class="details">
  <%= image_tag(@user.image, :class => "image-user") %>
  <h1>
    <%= @user.name %>
    <span>
      <% if @user.admin == true %>
        administrator
      <% end %>
    </span>
  </h1>
  <p class="info">
    <%== userhasrating %>
  </p>

  <% if @user.id == session[:user_id] %>
  <!-- user detils only for current user -->
    <h4>Email</h4>
    <p><%= @user.email %></p>
    <% if @user.address %>
      <h4>Saved Address</h4>
      <p>
        <%= @user.address %>
        <% if @user.latitude %>
          <br>(Latitude: <%= @user.latitude %> Longitude: <%= @user.longitude %>)
        <% end %>
      </p>
    <% end %>
    <nav class="meta">
      <ul>
        <li><%= link_to("Edit My Account", edit_user_path(@user)) %></li>
        <li><%= link_to("Delete My Account", @user, :confirm => "Are you sure you want to delete account for #{@user.name.upcase}?", :method => :delete) %></li>
      </ul>
    </nav>
  <% end %>

</section>

<section class="posts">
  <%== userhasposts %>
  <% @user.posts.each do |post| %>
    <%= render :partial => 'postloop', :locals => {:post => post} %>
  <% end %>
</section>