<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>
<h4><%= @user.address %></h4>
<% if @user.latitude %>
  <p>Lat:<%= @user.latitude %> Lon:<%= @user.longitude %></p>
<% end %>
<%= image_tag(@user.image) %>

<p class="krissnote">
  add rating for this user
</p>

<nav class="meta">
  <ul>
    <li><%= link_to("Edit user", edit_user_path(@user)) %></li>
    <li><%= link_to("Delete user", @user, :confirm => "Are you sure you want to delete user #{@user.name.upcase}?", :method => :delete) %></li>
    <li><%= link_to("New user", new_user_path) %></li>
  </ul>
</nav>


<h2>Recent Posts from <%= @user.name %> Has Posted in these Categories:</h2>
<% @user.posts.each do |post| %>
  <section>
    <h4>News from <%= post.address %></h4>
    <h2><%= link_to(post.title, post) %></h2>
   
  </section>
<% end %>