<section id="column-left" class="home">
    <h1>stay informed</h1>
    <h2>instantly. where ever you may land.
</section>
<section id="column-right">
  
  <% if @current_user.present? %>
    <div id="post-user">
      <div class="post-image" style="background: url(<%= @current_user.image %>); background-size: cover;">
      </div>
      
      <!-- show user info -->
      <h2><%= link_to(@current_user.name, user_path(@current_user)) %></h2>
      <p class="info"><%= @current_user.posts.count%> <%= 'post'.pluralize(@current_user.posts.count)%> :: honesty rating <%= number_to_percentage(@current_user.rating*100, precision: 0)%></p>
    </div>
  <% end %>

  <div class="inner">
    <%= render :partial => 'posts/form' %>
  </div>

  <div class="inner">
    <p>Login at top to post news</p>
    <p>Start your search here</p>
    <%= form_tag("/index", method: "post") do %>
      <%= label_tag(:address, "Your epicentre") %>
      <%= text_field_tag(:address, session[:address], :autofocus => true)%>
      <%= label_tag(:distance, "Informational radius") %>
      <%= range_field_tag(:distance, value = session[:distance], options = {:min => 1, :max => 10})%>
      <%= submit_tag("Go") %>
    <% end %>
  </div>  
</section>