<%= form_for @post, :html => {:multipart => :true} do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "What did you see?" %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body , :placeholder => "Tell people all about it", size: "77x6" %>
  </p>
  <p>
    
  </p>  
  <p>
    
    <% if @post.image.path.present? %>
      <label>
        <%= f.check_box :remove_image %> Remove current image (<%= @post.image.path.split('/').last %>)
      </label>
    <% else %>
      <%= f.label :image, "Upload an image from your computer", :class => "homeshow" %>
      <%= f.file_field :image, :accept => "image/gif, image/jpeg, image/svg, image/jpg, image/png" %>
      <span class="info">OR</span>
      <%= f.label :imgurl, "Image URL" %>
      <%= f.text_field :imgurl, :placeholder => "URL of your photo"%>
    <% end %>
    
  </p>  
  <p>
    <%= f.label :address %>
    <%= f.text_field :address, :value => session[:address] %>
  </p>
  <% if @post.latitude %>
    <p>Lat: <%= @post.latitude %> Lon: <%= @post.longitude %></p>
  <% end %>
  <%= f.label :categories %>
  <ul class="check-box">
    <% Category.order(:updated_at).each do |category| %>
      <li>
        <%= check_box_tag 'post[category_ids][]', category.id, category.in?(@post.categories)  %>
        <span><%= category.title %></span>
      </li>
    <% end %>
  </ul>
  <p><%= f.submit %></p>
<% end %>