<section id="column-left">
  <h1>
    <span>epicentre:</span><br>
    <%= session[:address] %><br>
    <span>alert radius:</span><br>
    <%= session[:distance] %>km
  </h2>
</section>
<section id="column-right">
  <div class="inner accordion">


    <% @posts.each do |post| %>
      
        <h2><%= post.title %></h2>
        <div class="pane">

        <p><%= post.address %></p>
        <h3><%= link_to(post.title, post) %><span class="post-rating"></span></h3>
        
          <p>happened <%= time_ago_in_words(post.created_at) %> ago</p>
          <% if post.rating_total %>
            <p>rating <%= post.rating_total %> from <%= post.rating_count %></p>
          <% end %>
          <div class="user">
            <%= link_to(post.user.name, user_path(post.user)) %>
            
            <% if post.user.rating.nan? %>
              user not yet rated
            <% else %> 
              user rating <%= number_to_percentage(post.user.rating*100, precision: 0) %>
            <% end %>
          
          </div>
        </div>

      
    <% end %>
  </div>
</section>
<div id='map-canvas'></div>
