<div id="helper">
  <p>Mouse over a marker to see what's going on, click a marker to see the full story.<br>
    <a href='#' onclick="toggle_visibility('options');return false;">Click here for more info</a></p>
  <div id="options" class="toggle-off">
    <h1><span>current focus</span> <%= params[:address] %><br>
      <span><%= params[:distance] %>km radius</span></h1>
    <%= form_tag("/index", method: "post") do %>
      <%= label_tag(:address, "Refocus on") %>
      <%= text_field_tag(:address, session[:address], :autofocus => true)%>
      <%= label_tag(:distance, "Search radius") %>
      <%= range_field_tag(:distance, value = session[:distance], options = {:min => 1, :max => 10})%>
      <%= submit_tag("Go") %>
    <% end %>
  </div>
</div>
<!-- run the loop for each post -->
<% @posts.each do |post| %>
  <div class="unpopped" id="post<%= post.id %>">
    <%= render :partial => 'users/postloop', :locals => {:post => post} %>
  </div>
<% end %>

<div id='map-canvas'></div>
