<!DOCTYPE html>
<html>
<head>
  <title>Iwitness</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    //toggle on/off
    function toggle_visibility(id) {
      var e = document.getElementById(id);
      if(e.className == 'toggle-on')
        e.className = 'toggle-off';
      else
        e.className = 'toggle-on';
    };
  //google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49479736-1', 'whatsat.herokuapp.com');
        ga('send', 'pageview');

      </script>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">
  <header>
    <nav id="main">
      <ul>
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("All News", posts_all_path) %></li>
      </ul>
      <ul id="user">
        <%== usernav %>
      </ul>
    </nav>
  </header>

  <div id='container'>
    <%= yield %>
  </div>
  
  <footer>
    <nav id="footer">
      <ul>
        <li><a href="">About epicentre</a></li>
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
